@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* animasi logo */
@keyframes infinite-slide-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes infinite-slide-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-infinite-left {
  animation: infinite-slide-left 20s linear infinite;
}

.animate-infinite-right {
  animation: infinite-slide-right 20s linear infinite;
}
